.cardGrid {
  @apply grid;
  @apply gap-8;
  @apply sm:grid-cols-1;
  @apply md:grid-cols-1;
  @apply lg:grid-cols-2;
  @apply xl:grid-cols-3;
}

.card {
  @apply flex;
  @apply flex-col;
  @apply items-stretch;
  @apply overflow-hidden;
  @apply border;
  @apply border-gray-300;
  @apply rounded-lg;
  @apply relative;
  @apply shadow-md;
}

.card__inner {
  @apply flex;
  @apply flex-col;
  @apply flex-grow;
  @apply p-4;
}

.card__imageHolder {
  @apply relative;
  @apply overflow-hidden;
  @apply bg-purple-twitch;
}

.card__live {
  @apply rounded-lg;
  @apply absolute;
  @apply px-3;
  @apply py-1;
  @apply right-1.5;
  @apply top-1.5;
  @apply font-bold;
  @apply border-2;
  @apply border-white;
  @apply bg-red-twitch;
  @apply shadow-md;
}

.card__live span {
  @apply text-white;
  @apply font-heading;
  text-shadow: 2px 2px #000000;
}

.card__streamTitle {
  @apply hidden;
}

@media screen and (min-width: 500px) {
  .card__streamTitle {
    @apply block;
    @apply absolute;
    @apply bg-gray-900;
    @apply text-white;
    @apply py-3;
    @apply px-4;
    @apply bottom-0;
    @apply w-full;
    @apply font-heading;
  }
}

.card__streamViewers {
  @apply text-white;
  @apply bg-gray-900;
  @apply text-xs;
  @apply rounded-lg;
  @apply p-2;
  @apply absolute;
  @apply left-1.5;
  @apply top-1.5;
  @apply shadow-md;
}

.card__twitchLink {
  @apply flex;
  @apply flex-row;
  @apply items-center;
  @apply mb-4;
  @apply text-xl;
  @apply justify-items-center;
  @apply focus:outline-none;
  @apply focus:ring-4;
  @apply focus:ring-yellow-400;
  @apply rounded-lg;
  @apply font-heading;
}

.card__twitchLink__profileImg {
  @apply flex;
  @apply flex-col;
  @apply px-2;
  @apply mr-4;
  @apply rounded-lg;
  @apply flex-col;
  @apply justify-items-center;
  @apply relative;
  @apply w-24;
}

.card__tags {
  @apply flex;
  @apply flex-wrap;
  @apply justify-start;
  @apply my-2;
}

.card__tag {
  @apply flex;
  @apply items-center;
  @apply justify-start;
  @apply px-4;
  @apply py-2;
  @apply m-1;
  @apply bg-gray-900;
  @apply border-2;
  @apply border-gray-500;
  @apply rounded-full;
  @apply text-gray-50;
  @apply text-sm;
  @apply font-normal;
  @apply focus:outline-none;
  @apply focus:ring-4;
  @apply focus:ring-yellow-400;
}

.card__socials {
  @apply flex;
  @apply flex-row;
  @apply items-end;
  @apply justify-end;
  @apply flex-grow;
  @apply mt-4;
}

.card__socials__link {
  @apply flex;
  @apply flex-col;
  @apply py-2;
  @apply px-2;
  @apply rounded-lg;
  @apply justify-items-center;
  @apply text-gray-500;
  @apply focus:outline-none;
  @apply focus:ring-4;
  @apply focus:ring-yellow-400;
}

.card__bio {
  @apply mb-8;
}
