html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
  font-family: Source Sans Pro, sans-serif;
  background-color: rgba(0, 0, 0, 1);
  padding: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}
