.cardGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  position: relative;
  border: 0.125rem solid #9146ff;
}

.card__inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__imageHolder {
  position: relative;
  overflow: hidden;
  background-color: #9146ff;
  aspect-ratio: 16/9;
}

.card__imageHolder img {
  display: flex;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__live {
  border-radius: 0.5rem;
  position: absolute;
  padding: 1px 3px;
  right: 1.5px;
  top: 1.5px;
  font-weight: bold;
  border: 2px solid white;
  background-color: #e91916;
}

.card__live span {
  color: #ffffff;
  font-family: Sora, sans-serif;
  text-shadow: 2px 2px #000000;
}

.card__streamTitle {
  display: block;
  background-color: #9146ff;
  color: #ffffff;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  font-family: Sora, sans-serif;
}

.card__twitchLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: #ffffff;
  justify-items: center;
  font-family: Sora, sans-serif;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-decoration: none;
}

.card__twitchLink:focus {
  outline: transparent;
  outline-style: solid;
  box-shadow: #000000 0 0 0 0.125rem, #9146ff 0 0 0 0.375rem;
  transition: box-shadow 0.2s ease-in-out;
}

.card__twitchLink__profileImg {
  display: flex;
  flex-direction: column;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 50%;
  justify-items: center;
  position: relative;
}

.card__twitchLink__profileImg img {
  border-radius: 50%;
  border: 0.125rem solid #ffffff;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
}

.card__tag {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: 0.25rem;
  background-color: #9146ff;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.card__socials {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
  padding: 1rem;
}

.card__socials__link {
  display: flex;
  flex-direction: column;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  justify-items: center;
  color: #ffffff;
}

.card__socials__link:focus {
  outline: transparent;
  outline-style: solid;
  box-shadow: #000000 0 0 0 0.125rem, #9146ff 0 0 0 0.375rem;
  transition: box-shadow 0.2s ease-in-out;
}

.card__bio {
  color: #ffffff;
  padding: 0.5rem;
}
